{% extends 'base.html.twig' %}

{% block page_title %}
    <h1>{{ 'Sign in'|trans }}</h1>
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|raw }}</div>
    {% endif %}

    {{ form_start(form)}}
    {{ form_row(form.email)}}
    {{ form_row(form.password)}}

    <small class="form-text text-muted">
        <a href="{{ url('forgot_password') }}">{{ 'I forgot my password'|trans }}</a>
    </small>

    {{ form_rest(form)}}

    <button type="submit">{{ 'Sign in'|trans }}</button>

    {{ form_end(form)}}

    <p>{{ 'New to x?'|trans }} <a href="{{ url('register') }}">{{ 'Create an account'|trans }}</a></p>
{% endblock %}