{% extends 'base.html.twig' %}

{% block page_title %}
    <h1>{{ 'Create an account'|trans }}</h1>
{% endblock %}

{% block body %}
    {% if form.vars.submitted and form.vars.valid %}
        <p>{{ 'Check your email for a link to confirm your account. If it doesn’t appear within a few minutes, check your spam folder.'|trans }}</p>
        <a href="{{ url('login') }}">{{ 'Return to sign in'|trans }}</a>
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_rest(form) }}

        <button type="submit">{{ 'Sign up'|trans }}</button>

        {{ form_end(form)}}
    {% endif %}
{% endblock %}