{% extends 'user/mails/default.html.twig' %}

{% block title %}
    <title>{{ 'account.mail.confirm.title'|trans }}</title>
{% endblock %}

{% block content %}
    <h1>{{ 'account.mail.confirm.title'|trans }}</h1>
    <p>{{ 'account.mail.thanksForRegistering'|trans }}</p>

    <br>

    <table class="button">
        <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td><a href="{{ confirmationLink }}">{{ 'account.mail.confirmAccount'|trans }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <p>
        <small>
            {{ 'account.mail.linkDoesNotworkCopyLink'|trans }}:
            <a href="{{ confirmationLink }}">{{ confirmationLink }}</a>
        </small>
    </p>
{% endblock %}
